@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Styles généraux */
:root {
  --black: #000;
  --black-seconday: #1b1b1b;
  --white: #fff;
  --red-primary: #e30613;
  --red-secondary: #aa040e;
  --gray: #adadac;
}

* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* (62.5/100) * 16px = 10px */
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--black);
}

img {
  display: block;
  max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--black);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
}

h1,
h2,
h3,
h4 {
  color: var(--red-primary);
}

li {
  list-style: none;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

.section-title {
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

/* Header */
header#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 5rem;
  transition: 0.6s;
  z-index: 10000;
}

header#navbar.sticky {
  background-color: var(--white);
  padding: 1rem 5rem;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
}

.logo {
  max-width: 200px;
  height: 58px;
}

nav {
  min-width: 500px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  padding: 0.6rem 1.4rem;
  border: solid 1px var(--gray);
  border-radius: 8px;
  margin: 0 1rem;
  cursor: pointer;
  transition: 0.6s;
}

nav ul li:hover {
  border-color: var(--red-primary);
}

nav ul li.active {
  background-color: var(--red-primary);
  border-color: var(--red-primary);
}

nav ul li a {
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--black);
  letter-spacing: 0.2rem;
  font-weight: 500;
  transition: 0.3s;
}

/* nav ul li.active a,
nav ul li:hover a {
  color: var(--white);
} */

nav ul li:hover a {
  color: var(--red-primary);
}

nav ul li.active a {
  color: var(--white);
}

.btn-primary {
  padding: 0.6rem 2.5rem;
  background-color: var(--red-primary);
  border: solid 1px var(--red-primary);
  border-radius: 3rem;
  transition: 0.3s;
}

.btn-primary a {
  font-size: 1.6rem;
  color: var(--white);
  font-weight: 600;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: var(--white);
  border-color: var(--gray);
  cursor: pointer;
}

.btn-primary:hover a {
  color: var(--black);
}

/** hero section **/
section#hero {
  padding-top: 8rem;
  height: 100dvh;
  min-height: 100svh;
  background-image: linear-gradient(to right, var(--white), var(--gray));
}

section#hero .container {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  gap: 1rem;
  height: 100%;
}

section#hero .container div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

section#hero .container div:nth-child(1) h1 {
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--black-seconday);
  margin-bottom: 2rem;
  line-height: 1.5;
}

.text-container {
  width: 10ch;
  display: inline-block;
  vertical-align: bottom;
  white-space: nowrap;
  overflow: hidden;
}

#dynamic-text {
  color: var(--red-primary);
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid var(--red-primary);
  animation: blink-caret 0.7s step-end infinite;
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

section#hero .container div:nth-child(1) p {
  font-size: 2rem;
}

section#hero .container div:nth-child(1) .btn-primary {
  width: fit-content;
  margin-top: 3.5rem;
}

/** Services Section **/

#services {
  padding: 9rem 0;
}

#services header {
  padding: 2rem 0;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

#services header h1 {
  font-size: 4rem;
  text-transform: uppercase;
}

#services header h3 {
  font-size: 2rem;
  color: var(--black);
  margin-top: 1rem;
}

.services-grid {
  width: 80svw;
  max-width: 1100px;
  margin: 2rem auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem 3rem;
}

.service-item {
  width: 430px;
  height: 500px;
  border-radius: 16px;
  margin: 0 auto;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  overflow: hidden;

  /* box-shadow: 15px 15px 30px #bebebe,
  -15px -15px 30px #ffffff;  */

  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  transition: 0.2s ease-in-out;
}

.service-item:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

.service-pic {
  width: 100%;
  /* height: 200px; */
  height: 43%;
  background-size: cover;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.services-grid .service-item:nth-child(1) .service-pic {
  background-image: url("./assets/images/sprinkler.jpg");
}

.services-grid .service-item:nth-child(2) .service-pic {
  background-image: url("./assets/images/desenfumage.jpg");
}

.services-grid .service-item:nth-child(3) .service-pic {
  background-image: url("./assets/images/detecteurs.jpg");
}

.services-grid .service-item:nth-child(4) .service-pic {
  background-image: url("./assets/images/protection_passive.jpg");
}

.service-title {
  width: fit-content;
  min-width: 250px;
  max-width: 90%;
  padding: 1rem 2rem;
  background-color: var(--red-secondary);
  color: var(--white);
  text-align: center;
  margin: 0 auto;
  border-radius: 80px;
  top: -2.5rem;
}

.service-desc {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2rem;
  flex-grow: 1;
}

.service-desc p {
  margin-bottom: 0.5rem;
}

/* ABOUT SECTION */

#about {
  /* background-color: var(--gray); */
  background-image: linear-gradient(to bottom, var(--gray), var(--white));
  overflow: hidden;
}

#about .container {
  height: 100svh;
  padding: 9rem 0 0;
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  column-gap: 1.5rem;
}

#about .about-logo {
  width: 170.14px;
  height: 260.32px;
  object-fit: cover;
  position: absolute;
  top: 5rem; /* Point de départ */
  right: -45px;
  transform: translate(0, 0); /* Ajustement initial */
  z-index: 10;
}

#about .container > div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#about .container > div:nth-of-type(1) p {
  margin-bottom: 1.2rem;
  width: 85%;
  line-height: 2.8rem;
  text-align: justify;
}

#about .container > div:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .container .slider {
  height: 90%;
  max-height: 550px;
  width: 359px;
  max-width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  overflow: hidden;
}

#about .container .list {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  width: max-content;
  transition: 1s;
}

#about .container .slider .list .item {
  height: 100%;
  max-height: 550px;
  width: 359px;
  max-width: 100%;
}

#about .container .slider .list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#about .container .slider .buttons {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

#about .container .slider .buttons button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--gray);
  color: var(--white);
  border: none;
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .container .slider .dots {
  position: absolute;
  bottom: 1rem;
  color: var(--white);
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.dots li {
  width: 1rem;
  height: 1rem;
  background-color: var(--white);
  margin: 1.5rem;
  border-radius: 20px;
  transition: 0.6s;
}

.dots li.active {
  width: 3rem;
}

#about .slogan {
  height: 100svh;
  background-image: url("./assets/images/pyro_slogan.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#about .stats {
  background-color: transparent;
  backdrop-filter: blur(20px);
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.3) rgba(0, 0, 0, 0.2)
  );
  /* background-color: var(--gray); */
  /* background-color: var(--black-seconday); */
  padding: 9rem 0 6rem;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .stats-content {
  width: 80%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.5rem;
}

.outer {
  width: 300px;
  height: 250px;
  border-radius: 10px;
  padding: 1px;
  background: radial-gradient(circle 230px at 0% 0%, #ffffff, #0c0d0d);
  /* background: radial-gradient(
    circle 230px at 0% 0%,
    var(--white),
    var(--black-seconday)
  ); */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.dot {
  width: 5px;
  aspect-ratio: 1;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px #ffffff;
  border-radius: 100px;
  z-index: 2;
  right: 10%;
  top: 10%;
  animation: moveDot 6s linear infinite;
}

@keyframes moveDot {
  0%,
  100% {
    top: 10%;
    right: 10%;
  }
  25% {
    top: 10%;
    right: calc(100% - 35px);
  }
  50% {
    top: calc(100% - 30px);
    right: calc(100% - 35px);
  }
  75% {
    top: calc(100% - 30px);
    right: 10%;
  }
}

.card {
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 9px;
  border: solid 1px #202222;
  background-size: 20px 20px;
  background: radial-gradient(circle 280px at 0% 0%, #444444, #0c0d0d);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

.ray {
  width: 220px;
  height: 45px;
  border-radius: 100px;
  position: absolute;
  background-color: #c7c7c7;
  opacity: 0.4;
  box-shadow: 0 0 50px #fff;
  filter: blur(10px);
  transform-origin: 10%;
  top: 0%;
  left: 0;
  transform: rotate(35deg);
}

.card .text {
  font-weight: bolder;
  font-size: 4rem;
  background: linear-gradient(45deg, #000000 4%, #fff, #000);
  background-clip: text;
  color: transparent;
  margin-bottom: 1rem;
}

.line {
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #2c2c2c;
}
.topl {
  top: 10%;
  background: linear-gradient(90deg, #888888 30%, #1d1f1f 70%);
}
.bottoml {
  bottom: 10%;
}
.leftl {
  left: 10%;
  width: 1px;
  height: 100%;
  background: linear-gradient(180deg, #747474 30%, #222424 70%);
}
.rightl {
  right: 10%;
  width: 1px;
  height: 100%;
}
